<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mateusz Loskot :: $title$</title>
  <!-- Bootstrap -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <a href="#">home</a>
          </li>
          <li>
            <a href="#">code</a>
          </li>
          <li>
            <a href="#">sweat</a>
          </li>
        </ul>
        <!-- .nav --> </div>
      <!-- .container --> </div>
    <!-- .navbar-inner --> </div>
  <!-- .navbar -->

  <h1>$title$</h1>
  $body$
</body>
</html>