<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>$brand$ :: $tagline$</title>
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>

  <div class="site">

    <div id="flickr_badge_wrapper">
      <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=3&display=random&size=s&layout=x&source=user_tag&user=10646408%40N06&tag=mloskot"></script>
    </div>

    <div class="title">
      <div class="tagline">
        <a href="http://mateusz.loskot.net">Mateusz Loskot</a> :: <span class="tagline">hacking on, working out, living up</span>
      </div>
      <div class="navline">
        <a href="/code.html" class="extra">blog::code</a>
        <a href="/sweat.html" class="extra">blog::sweat</a>
      </div>
  </div>

    <div id="home">
      $body$
    </div>

    <div class="footer">
      <div class="contact">
          Mateusz Loskot :: Senior Programmer @ <a href="http://$cadcorp$">Cadcorp</a> :: Charter Member @ <a href="http://$osgeo$">OSGeo </a> :: Open Source Cowboy<br />
      </div>
      <div class="contact">
          $email$ <br />
          <a href="http://$twitter$">$twitter$</a><br />
          <a href="http://$github$">$github$</a><br />
      </div>
      <div class="contact">
          <a href="http://$aboutme$">$aboutme$</a><br />
          <a href="http://$gplus$">$gplus$</a><br />
          <a href="http://$ohloh$">ohloh</a><br />
      </div>
      <div class="contact">
          <a href="http://$flickr$">$flickr$</a><br />
          <a href="http://$vimeo$">$vimeo$</a><br />
          <a href="http://$youtube$">$youtube$</a>
      </div>
  </div>

<a href="http://$github$"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

</body>
</html>
