<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mateusz Loskot :: $title$</title>
  <!-- Bootstrap -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="$homeurl$">$author$</a>
          <ul class="nav">
            <li><a href="/code">blog::code</a></li>
            <li><a href="/sweat">blog::sweat</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span6">
        <h3>code</h3>
        foo
      </div>

      <div class="span6">
        <h3>sweat</h3>
        bar
      </div>
    </div>

  </div>

</body>
</html>